<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Musagetes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup/>
  <userSettings>
    <Musagetes.Properties.Settings>
      <setting name="DbLocation" serializeAs="String">
        <value>C:\Users\ajsaites\Documents\Mine\Musagetes\Musagetes\Collaterals\SongDB.xml</value>
      </setting>
      <setting name="MainPlayerDeviceNum" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SecondaryPlayerDeviceNum" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="UpdatePlaycountOnPreview" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainPlayerVolume" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SecondaryPlayerVolume" serializeAs="String">
        <value>1</value>
      </setting>
    </Musagetes.Properties.Settings>
  </userSettings>
</configuration>
